body {
	margin: 0px;
	width: 100vw;
	height: 100vh;
	color: #D7C568;
	background-image: url("../bg-05.jpg");
	background-size: cover;
	font-family: system-ui;
}

article {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 90%;
}

article > header > h1 {
	font-size: 60px;
}

article > p {
	font-size: 25px;
	width: 60%;
	text-align: center;
}

#header {
	height:10%;
	display: flex;
	justify-content: left;
	box-shadow: 0px 10px 20px black;
	background-color: rgba(0, 0, 0, .60);
}

#header > h1 {
	margin-top: auto;
	margin-bottom: auto;
}

article > * {
	margin: auto;
}

article > nav > ul {
	display: flex;
	padding: 0px;
}

article > nav > ul > li {
	width: 160px;
	height: 80px;
	list-style: none;
	text-align: center;
	font-size: 20px;
	background-color: #730000;
	margin-left: 10px;
	margin-right: 10px;
	border-radius: 10px;
	transition: 0.25s;
}

article > nav > ul > li:hover{
	background-color: #b00000;
}

article > nav > ul > li > a {
	color: #D7C568;
	display: flex;
	justify-content: center;
	text-decoration: none;
	width: 100%;
	height: 100%;
	margin: auto;
}

article > nav > ul > li > a:visited {
	color: #D7C568;
}

article > nav > ul > li > a > span{
	margin: auto;
}

