body {
	margin: 0px;
	width: 100vw;
	height: 100vh;
	color: #D7C568;
	background-image: url("../bg-05.jpg");
	background-size: cover;
	font-family: system-ui;
}

#header {
	height:10%;
	display: flex;
	justify-content: left;
	box-shadow: 0px 10px 20px black;
	background-color: rgba(0, 0, 0, .60);
}

#header > h1 {
	margin-top: auto;
	margin-bottom: auto;
}

article {
	margin: 5px;
	height: 88%;
	overflow: scroll;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 5px;
	width: 300px;
	height: 400px;
	background-color: #730000;
	box-shadow: 5px 5px 10px black;
}

.item-image {
	width: 90%;
	height: 45%;
	margin: auto;
	background-color: black;
	background-size: cover;
}

.item-details {
	width: 90%;
	height: 45%;
	margin: auto;
	background-color: rgba(125, 125, 125, 0.10);
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border: 1px solid #D7C568;
}
